<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="contenedor-configuracion">

    <div class="user-info">
      <div class="user-icon">
        <ion-icon name="person-circle"></ion-icon>
      </div>
      <div class="user-details">
        <h2>{{ nombre }}</h2>
        <p>{{ correo }}</p>
      </div>
    </div>

    <div class="donacion-fondo">
      <img src="assets/icon/Ecochat2.png" alt="Ecochat Logo" class="donacion-icon" />
      <div class="donacion-contenido">
        <h3>Puedes ayudarnos</h3>
        <ion-button expand="block" class="donacion-button" fill="solid" (click)="irDonaciones()">
          <ion-label>Donaciones</ion-label>
        </ion-button>
      </div>
    </div>


    <div class="lista-opciones">
      <div class="opcion" (click)="irCuenta()">
        <span>Cuenta</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="opcion" (click)="abrirFormulario()">
        <span>Realizar encuesta más reciente</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="opcion" (click)="abrirComentarios()">
        <span>Enviar comentarios</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="opcion" (click)="irARInfopage()">
        <span>Acerca de</span>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
    </div>

    <div class="cerrar-sesion" (click)="CerrarSesion()">
      Cerrar sesión
    </div>

  </div>
</ion-content>
