<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>localizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-button shape="block"
        color="dark"
        fill="outline"
        (click)="irAlLugar()">
        Ubicación 1
    </ion-button>
    <ion-button shape="block"
        color="dark"
        fill="outline"
        (click)="irAlLugar()">
        Ubicación 2
    </ion-button>
    <ion-button shape="block"
        color="dark"
        fill="outline"
        (click)="irAlLugar()">
        Ubicación 3
    </ion-button>
    <ion-button shape="block"
        color="dark"
        fill="outline"
        (click)="irAlLugar()">
        Ubicación 4
    </ion-button>
    <ion-button shape="block"
        color="dark"
        fill="outline"
        (click)="irAlLugar()">
        Ubicación 5
    </ion-button>
  </ion-header>
</ion-content>
