<!-- Encabezado con botones a la izquierda y derecha -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" color="dark" (click)="irMenu()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button shape="round" color="dark" (click)="irCOnfiguracion()">
        <ion-icon slot="icon-only" ios="person-circle-outline" md="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido con lista de conversaciones -->
<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-label>No Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>No Lines</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>No Lines</ion-label>
    </ion-item>
  </ion-list>
</ion-content>


